# IDE cache
.idea
.vscode

# local enviroment
.env
.venv

# python cache
.ipynb_checkpoints/
__pycache__/

# excel cache
~$*.xlsx

# dataset exclusive
dataset/*
!dataset/denoised/
!dataset/preprocessed/
!dataset/records.xlsx
!dataset/*.csv
!dataset/*.txt

# Ignore everything inside denoised and preprocessed folders
dataset/denoised/*
dataset/preprocessed/*


# Ignore checkpoints
check_points/*
!check_points/*.sh
