# pycharm
.idea

# local enviroment
.env

# python cache
.ipynb_checkpoints/


# dataset exclusive
dataset/*/
dataset/*/*/
dataset/*/*/*/

!dataset/records.xlsx
!dataset/please put patients data here.txt

